<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeoBleeper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeoBleeper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeoBleeper.Settings1>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="first_octave_color" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="second_octave_color" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="third_octave_color" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="blank_line_color" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="clear_notes_color" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="unselect_line_color" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="erase_whole_line_color" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="playback_buttons_color" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="metronome_color" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="beep_indicator_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="note_indicator_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="geminiAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="preferredAIModel" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value>Ohf3aR688kaRYSTu7lMeXPoSVUTFcS+WgraFY3mxda0=</value>
            </setting>
            <setting name="IV" serializeAs="String">
                <value>TZnoSs4H8yQZ8kQTgZ7xwg==</value>
            </setting>
            <setting name="ClassicBleeperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="markup_color" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="dont_show_system_speaker_warnings_again" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dont_show_disable_create_beep_from_soundcard_warnings_again"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preferredLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="lyricsSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="cachedProfileImageBase64" serializeAs="String">
                <value />
            </setting>
            <setting name="cachedUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="cachedEMail" serializeAs="String">
                <value />
            </setting>
        </NeoBleeper.Settings1>
        <NeoBleeper.Settings>
            <setting name="theme" serializeAs="String">
                <value>system</value>
            </setting>
        </NeoBleeper.Settings>
    </userSettings>
</configuration>