<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeoBleeper.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeoBleeper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeoBleeper.Settings1>
            <setting name="theme" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="first_octave_color" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="second_octave_color" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="third_octave_color" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="blank_line_color" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="clear_notes_color" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="unselect_line_color" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="erase_whole_line_color" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="playback_buttons_color" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="metronome_color" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="beep_indicator_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="note_indicator_color" serializeAs="String">
                <value>Red</value>
            </setting>
        </NeoBleeper.Settings1>
        <NeoBleeper.Settings>
            <setting name="theme" serializeAs="String">
                <value>system</value>
            </setting>
        </NeoBleeper.Settings>
    </userSettings>
</configuration>